jeux/__pycache__/*
aquoiquonjoue/__pycache__/*
aquoiquonjoue/settings.py
aquoiquonjoue_asgi.sock.lock
db.sqlite3
aquoiquonjoue_nginx_uwsgi.conf
aquoiquonjoue_nginx_asgi.conf
aquoiquonjoue_wsgi.ini
uwsgi_params
ca.crt
ca.key
jeux/static/*
jeux/media/*