db.sqlite3
ca.crt
ca.key
uwsgi_params
.env
.venv

**/__pycache__
**/migrations

**/mysql.conf

lanrumble_asgi.sock.lock
lanrumble_nginx_uwsgi.conf
lanrumble_nginx_asgi.conf
lanrumble_wsgi.ini

jeux/media/*
/static
