{% extends "jeux/core.html" %}
{% load static %}
{% block content %}
<div class="container content_holder">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <form action="/reset_page" method="post">
                {% csrf_token %}
                <table>
                    <tr><th id="password_validator">{{ form.new_password_1.label }} <i class="far fa-question-circle"></i></th><th>{{ form.new_password_1 }}</th></tr>
                    <tr><th>{{ form.new_password_2.label }}</th><th>{{ form.new_password_2 }}</th></tr>
                    <tr hidden><th><input type="hidden" value="{{ token }}" id="token" name="token"></th><th></th></tr>
                </table>
                <input type="submit" value="Envoyer" class="btn btn-outline-success my-2 my-sm-0">
            </form>
        </div>
    </div>
</div>

{% endblock content %}
{% block script %}
<script>
    $('#password_validator').click(() => alert("{{ password_validators }}"));
</script>
{% endblock script %}
{% block style %}
<style type="text/css">
    table, tr, th {
        border: 0px solid rgba(0,0,0,0);
        text-align: left;
    }
    tr:hover{
        background-color: rgba(255,255,255,.0);
    }
</style>
{% endblock style %}